<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GrblHeightProbe2.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <GrblHeightProbe2.Settings>
            <setting name="SerialBaudRate" serializeAs="String">
                <value>115200</value>
            </setting>
            <setting name="NewHeightMapPoints" serializeAs="String">
                <value>10, 10</value>
            </setting>
            <setting name="NewHeightMapGridSize" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="NewHeightMapOffset" serializeAs="String">
                <value>-25, -25</value>
            </setting>
            <setting name="Safety" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ProbePlunge" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="ProbeDepth" serializeAs="String">
                <value>-10</value>
            </setting>
        </GrblHeightProbe2.Settings>
    </userSettings>
</configuration>